.titulo {
  text-align: center;
}

.livro {
  display: block;
  margin: auto;
  text-align: center;
  width: 100px;
  height: auto;
  margin-top: 50px;
  max-width: 30%;
}

.estatistica {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 100%;
  max-width: 250px;
  height: 50px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border: 2px solid #dbd8d4;
}

.topo {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 21px;
}

.azul {
  background-color: #e7eeff;
  color: #4a6cf7;
}

.laranja {
  background-color: #fff3e6;
  color: #f59e0b;
}

.verde {
  background-color: #e8f7ee;
  color: #22c55e;
}

.card h2 {
  margin: 0;
  font-size: 20px;
}

.classificacao {
  text-align: left;
  margin-left: 58px;
  transform: translateY(-20px);
}

.add-tarefa {
  background: #f6f2f2;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  margin: 30px auto;
}

.subtitulo {
  margin-bottom: 15px;
}

.linha-tarefa {
  display: flex;
  gap: 10px;
}

.linha-tarefa input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.linha-tarefa select {
  padding: 10px;
  border-radius: 10px;
}

.linha-tarefa button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.linha-tarefa button:hover {
  background: #2563eb;
}

.progresso {
  background: white;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
}

.progresso p {
  margin: 0 0 8px 0;
  font-weight: 600;
  color: #555;
}

.barra {
  flex: 1;

  height: 8px;
  background: #ececec;
  border-radius: 20px;
  overflow: hidden;
}

.titulo {
  text-align: center;
}

.livro {
  display: block;
  margin: auto;
  text-align: center;
  width: 100px;
  height: auto;
  margin-top: 50px;
  max-width: 30%;
}

.estatistica {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 100%;
  max-width: 250px;
  height: 50px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border: 2px solid #dbd8d4;
}

.topo {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 21px;
}

.azul {
  background-color: #e7eeff;
  color: #4a6cf7;
}

.laranja {
  background-color: #fff3e6;
  color: #f59e0b;
}

.verde {
  background-color: #e8f7ee;
  color: #22c55e;
}

.card h2 {
  margin: 0;
  font-size: 20px;
}

.classificacao {
  text-align: left;
  margin-left: 58px;
  transform: translateY(-20px);
}

.add-tarefa {
  background: #f6f2f2;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  margin: 30px auto;
}

.subtitulo {
  margin-bottom: 15px;
}

.linha-tarefa {
  display: flex;
  gap: 10px;
}

.linha-tarefa input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.linha-tarefa select {
  padding: 10px;
  border-radius: 10px;
}

.linha-tarefa button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.linha-tarefa button:hover {
  background: #2563eb;
}

.progresso {
  background: white;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
}

.progresso p {
  margin: 0 0 8px 0;
  font-weight: 600;
  color: #555;
}

.barra {
  flex: 1;

  height: 8px;
  background: #ececec;
  border-radius: 20px;
  overflow: hidden;
}

#barraInterna {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4a6cf7, #6ea8ff);
  transition: width 0.4s ease;
}

#percentagem {
  font-size: 13px;
  color: #777;

  min-width: 40px;
  white-space: nowrap;
  flex-shrink: 0;
}

.linha-progresso {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.lista-tarefas {
  background: white;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.lista-tarefas h3 {
  margin-bottom: 15px;
}

.lista-tarefas p {
  margin: 18px 0 6px;
  font-weight: 600;
  color: #666;
}

.item {
  list-style: none;

  background: #f8f6f4;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  gap: 12px;

  border: 2px solid #eee;
  transition: 0.2s;
}

.item:hover {
  border-color: #ddd;
}

.item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.item span {
  flex: 1;
}

.apagar {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;

  opacity: 0;
  transition: 0.2s;
}

.item:hover .apagar {
  opacity: 1;
}

.conteudo {
  flex: 1;
}

.tituloTarefa {
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .linha-tarefa {
    flex-direction: column;
  }

  .linha-tarefa button {
    width: 100%;
  }

  .icon {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .card h2 {
    font-size: 18px;
  }
}


.linha-progresso {
  display: flex;          /* barra e texto na mesma linha */
  align-items: center;    /* centraliza verticalmente */
  gap: 10px;              /* espaço entre barra e percentagem */
  width: 100%;
}

.barra {
  flex: 1;                /* barra ocupa todo espaço disponível */
  height: 12px;
  background-color: #ececec;
  border-radius: 20px;
  overflow: hidden;
}

#barraInterna {
  width: 0%;              /* JS vai atualizar */
  height: 100%;
  background: linear-gradient(90deg, #4a6cf7, #6ea8ff);
  transition: width 0.4s ease;
}

#percentagem {
  width: 40px;            /* tamanho fixo do texto */
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #4a6cf7;
  display: inline-block;
}


.lista-tarefas {
  background: white;
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.lista-tarefas h3 {
  margin-bottom: 15px;
}

.lista-tarefas p {
  margin: 18px 0 6px;
  font-weight: 600;
  color: #666;
}

.item {
  list-style: none;

  background: #f8f6f4;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  gap: 12px;

  border: 2px solid #eee;
  transition: 0.2s;
}

.item:hover {
  border-color: #ddd;
}

.item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.item span {
  flex: 1;
}

.apagar {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;

  opacity: 0;
  transition: 0.2s;
}

.item:hover .apagar {
  opacity: 1;
}

.conteudo {
  flex: 1;
}

.tituloTarefa {
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .linha-tarefa {
    flex-direction: column;
  }

  .linha-tarefa button {
    width: 100%;
  }

  .icon {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .card h2 {
    font-size: 18px;
  }
}

.footer {
  text-align: center;
  padding: 20px;
  color: #b0c0db;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
